.kakeibo {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease, color 0.5s ease;
  text-shadow: 2px 2px #FF6347;
}

.kakeibo.animate {
  transform: scale(0.5);
  color: #FF6347;
  text-shadow: 4px 4px gray;
}
